@page
@model KeyToSaftey.Pages.User.AboutusModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}



<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
                        <span>
                            About us
                        </span>
                    </h1>
                    <div style="text-align: center">
                        <img src="~/images/product/final logo.PNG" style="height:auto ; " alt="Keytosafety">
                    </div>
                    <p class="lead text-center">
                        Welcome to KeytoSafety, your number one source for all things [product, ie: Masks ,senitizers ,PPE kits , vaporizers , oximeter]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
                        Founded in 2021, KeytoSafety has come a long way from its beginnings in a eshopping. When KeytoSafety first started out, it`s passion for  helping patients be more eco-friendly, providing the best equipment or products for his needy drove him to gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the sergical industry.

                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
                    </p>


                    <hr class="hr hr30">
                    <div class="row animated">
                        <a href="../User/BlogList">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                                <img class="img-responsive" src="~/images/blog/b2.jpg" style="width:360px;height:180px" alt="img">
                                <div class="gap"></div><div class="gap"></div>
                                <h3 class="block-title-3">
                                    BLOG
                                </h3>

                                <p>
                                    Here are some blog to ensure you are up to date to the news and some steps for you to protect from pendemic situation.
                                </p>


                            </div>
                        </a>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="~/images/blog/web-scraping.png" alt="img">
                            <div class="gap"></div><div class="gap"></div>
                            <h3 class="block-title-3">
                                WEB SCRAPPING
                            </h3>

                            <p>
                                On keytosafety you can compare the pricing of each element or product on same page and you will get the best efficient  price.
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="~/images/blog/aa1.png" alt="img">
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <h3 class="block-title-3">
                                Multi-language Support
                            </h3>

                            <p>
                                With the help of this function you can switch to any of language you want to follow.
                            </p>

                        </div>


                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>











@*<div>
    <p>
        
    </p>
</div>*@

