@page
@model KetToSaftey.Pages.User.Index1Model
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";

}
<script type="text/javascript" src="../assets/js/jquery/jquery-1.10.1.min.js"></script>
<script src="~/assets/js/jquery/jquery-1.10.1.min.js"></script>

<div class="container main-container headerOffset globalPaddingBottom">
    @*Main component call to action*@
    <div class="row">
        <div class=" image-show-case-wrapper center-block relative col-lg-12">
            <div id="imageShowCase" class="owl-carousel owl-theme">
                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>On sale</h1>
                                    <a href="MaskList" class="btn btn-stroke-light"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><img class="img-responsive" src="../images/slider/single-img/index11.jpg" alt="img"></a>
                </div>
                @*/.product-slide*@
                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>DISCOUNTS UP TO 50% OFF</h1>
                                    <a href="../User/MaskList" class="btn btn-stroke-light"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><img class="img-responsive" src="../images/slider/single-img/index12.jpg" alt="img"></a>
                </div>
                @*/.product-slide*@
                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>SANITIZER</h1>
                                    <a href="../User/SenitizerList" class="btn btn-stroke-light"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><img class="img-responsive" src="../images/slider/single-img/index13.jpg" alt="img"></a>
                </div>
                @*/.product-slide*@
                <div class="product-slide">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner ">
                                    <h1>FACE SHILD</h1>
                                    <a href="../User/FaceShieldList" class="btn btn-stroke-light"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><img class="img-responsive" src="../images/slider/single-img/index15.jpg" alt="img"></a>
                </div>
            </div>
            @*/#imageShowCase*@
            <div style="clear:both;"></div>
            <a id="ps-next" class="ps-nav"> <img src="../images/site/arrow-right.png" alt="N E X T"> </a> <a id="ps-prev"
                                                                                                             class="ps-nav">
                <img src="../images/site/arrow-left.png" alt="P R E V">
            </a>
        </div>
        @*/.image-show-case-wrapper*@
    </div>

    <div style="clear:both"></div>
    <div class="row">
        <div class="col-lg-">
            <hr class="hr3">
        </div>
    </div>

    <div class="row featuredPostContainer ">
        <div class="featuredImageLook3">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Mask</h1>

                                    <p>
                                        Make wearing a mask a normal part of being around other people.
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/MaskList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title"> Mask</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index16.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase"> PPE Kit</h1>

                                    <p>
                                        Healthcare personnel should adhere to Standard and Transmission-based Precautions when caring for patients with COVID-19 infection.
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/PPEKitList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title">  PPE Kit</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index17.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Hand Wash</h1>

                                    <p>
                                        handwashing with soap and any kind liquid remains one of our best defenses against the virus
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/HandwashList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title"> Hand Wash</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index18.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">sanitizer</h1>
                                    <p>
                                    a hand sanitizer with at least 60% alcohol can help you avoid getting sick and spreading germs to others.
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/SenitizerList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title">sanitizer</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index19.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Face shild </h1>

                                    <p>
                                        this is use in surgeries or any procedure where bone fragments, blood or other bodily fluids could get into the eyes, nose and mouth..
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/FaceShieldList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title"> face shild</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index20.jpg" alt="img"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
                <div class="inner">
                    <div class="box-content-overly box-content-overly-white">
                        <div class="box-text-table">
                            <div class="box-text-cell ">
                                <div class="box-text-cell-inner dark">
                                    <h1 class="uppercase">Hand Gloves</h1>

                                    <p>
                                        Use disposable gloves when cleaning and disinfecting the area around the person who is sick or other surfaces that may be frequently touched in the home.
                                    </p>
                                    <hr class="submini">
                                    <a href="../User/HandGlovesList" class="btn btn-inverse"> SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/.box-content-overly*@
                    <div class="img-title"> Hand Gloves</div>
                    <a class="img-block" href="#"> <img class="img-responsive" src="../images/look3/index22.jpg" alt="img"></a>
                </div>
            </div>

        </div>

        @*/.featuredImageLook3*@
    </div>
    @*/.featuredPostContainer*@
</div>
     @*/main container*@
<div class="w100 sectionCategory">
    <div class="container">
        <div class="sectionCategoryIntro text-center">
            <h1>Featured Categories</h1>

            <p>
                These are some other types of categories.
            </p>
        </div>
        <div class="row subCategoryList clearfix">
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/TempGunList">
                        <img src="../images/product/index24.jpg" class="img-rounded " alt="img">
                    </a> <a class="subCategoryTitle"><span>temperature gun </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/OximeterList">
                        <img src="../images/product/index25.jpg" class="img-rounded " alt="img">
                    </a> <a class="subCategoryTitle"><span> Oximeter </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/VaperizerList">
                        <img src="../images/product/index26.jpg" class="img-rounded " alt="img">
                    </a> <a class="subCategoryTitle"><span>Vaporizer </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/FaceShieldList">
                        <img src="../images/product/index27.jpeg" class="img-rounded " alt="img">
                    </a> <a class="subCategoryTitle"><span> Tablets </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/FaceShieldList">
                        <img src="../images/product/index29.jpg" class="img-rounded  " alt="img">
                    </a> <a class="subCategoryTitle"><span>Face Shild </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="../User/SenitizerList">
                        <img src="../images/product/index30.jpg" class="img-rounded " alt="img">
                    </a> <a class="subCategoryTitle"><span> Sanitizer </span></a>
                </div>
            </div>
        </div>
        @*/.row*@
    </div>
    @*/.container*@
</div>

<div class="container main-container">
    
    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <div class="col-lg-12">
            <h3 class="boxes-title-1"><span>FEATURES PRODUCT</span></h3>
        </div>
        <div class="container">
            <div class="row xsResponse">
                @foreach (var item in Model.Product)
                {

                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                               data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>


                            <a href="../User/SingleProduct?id=@item.Pid">
                                <div>
                                    @{
                                        byte[] bytes = item.Pimg;
                                        string base64String = "data:image/jpg;base64," + Convert.ToBase64String(bytes, 0, bytes.Length);

                                    }
                                    <img src="@base64String" style="width:250px;height:250px"/>
                                </div>

                            </a>
                            <div class="description">
                                <h4><a href="../User/SingleProduct?id=@item.Pid"> @Html.DisplayFor(modelItem => item.Pname)</a></h4>

                                <p> @item.Pdes.Substring(0, 20).ToString()..     </p>
                            </div>
                            <div class="price"><span>@Html.DisplayFor(modelItem => item.Pprice)</span> 
                            <div class="action-control">
                                <a href="../User/SingleProduct?id=@item.Pid" class="btn btn-primary">
                                    <span class="add2cart">
                                        <i class="glyphicon glyphicon-shopping-cart"> </i> BUY
                                    </span>
                                </a>
                            </div>
                                                                                    
                        </div>
                                
                                
                        </div>
                    </div>

                 }
                </div>
           
           
        </div>
        
    </div>
   
</div>
   

<div class="parallax-section parallax-image-2">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> Trusted Seller 500+ </h1>
                        <h5 class="parallaxSubtitle"> We Supply Best Products And Customers Count On Us. </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!--/.modal-content -->
    </div>
   <!-- /.modal-dialog -->
</div>
     <!-- /.modal
     End Modal -->

