@page
@model KeyToSaftey.Pages.User.LoginModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<script type="text/javascript" src="../assets/js/jquery/jquery-1.10.1.min.js"></script>

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="Index">Home</a></li>
                <li class="active"> Authentication</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

            <div class="row userInfo">

                <div class="col-xs-12 col-sm-6">
                    <h2 class="block-title-2"><span>Already registered?</span></h2>

                    <form role="form" class="regForm" method="post" >
                      
                        <div class="form-group">
                            <label>Mobile</label>
                            <input asp-for="Signup.Mobile" class="form-control" placeholder="Enter Mobile no"  required="" aria-required="true" />
                           
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" asp-for="Signup.Password"  placeholder="Password" aria-required="true" class="form-control" />
                            
                        </div>
                        <div class="error">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
                            {
                                <div class="badge badge-danger">
                                    @ViewData.ModelState["Error"].Errors.First().ErrorMessage
                                </div>
                            }
                        </div>
                        

                        <button type="submit" class="btn   btn-primary">
                            <i class="fa fa-user"></i> Sign In
                        </button>


                    </form>

                    
                </div>

            </div>
            <!--/row end-->

        </div>

        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>



