@page
@model KeyToSaftey.Pages.User.TandCModel
@{
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Terms and Conditions </h1>

                    <p>
                        <strong>
                            Please read the following terms and conditions very carefully as your use of service is
                            subject to your acceptance of and compliance with the following terms and conditions
                            ("Terms").
                        </strong>
                    </p>
                    <h3>Definitions</h3>
                    <p>
                        <ul>
                            <li> “eCommerce” means  Logistics Private Limited.</li>
                            <li>
                                “GTC” means these General Terms and Conditions of DHL
                                eCommerce.
                            </li>
                            <li>
                                “Parties” refers to Sender and eCommerce, and “Party” refers to each of Sender and eCommerce.
                            </li><li>
    “Sender” means the party receiving delivery services from eCommerce in accordance with a respective agreement.
</li> <li>
    “Recipient” means the addressee to whom the Shipment is sent.
</li> <li>
    “Shipment” means one or more mail or parcel items containing goods or press items or dialogue marketing material or other items or materials which the Sender hands over to eCommerce and which may be transported and delivered by any means of transport selected by eCommerce, whether by air, road or any other means of transport. Each such shipment is transported under limited liability pursuant to these GTC.
</li><li>
    “E-Commerce Related Services” mean E-Facilitation and E-Fulfillment Services as offered by eCommerce.
</li> <li>
    “E-Facilitation Services” include but is not limited to web-shop or store management, including program and order management services as well as operation and maintenance of customer’s web- shop or store, including product listing, online sales, customer relationship management, customer service support and coordination of contacts with third party service providers as individually agreed between the Parties.
</li><li>
    “E-Fulfillment Services” include but is not limited to storage and fulfillment services as individually agreed between the Parties.
</li><li>
    “Montreal Convention” means the Convention for the Unification of Certain Rules for International Carriage by Air.
</li><li>
    “Warsaw Convention” is the Convention for the Unification of Certain Rules Relating to International Carriage by Air, signed on 12 October 1929.
</li> <li>
    “UPUC” stands for Universal Postal Convention and the supplementary documents as applicable in the latest version.
</li><li>  “Prohibited Goods” have the meaning as defined in Section 4 of these GTC.
                        </ul>
                    </p>
                    <hr />
                    <strong><h3>Agreements and Services</h3></strong>
                    <p>
                        Contracts regarding transport and delivery of Shipments are concluded between the Sender and eCommerce, either in written form or by way of hand-over of the Shipment and acceptance of the same for transport and delivery in accordance with these GTC.
                        eCommerce accepts Shipments for transport and delivery from the Sender at the sites of eCommerce, or picks up such Shipments at agreed sites of Sender, in order to deliver such Shipments to the Recipient directly or have them delivered by another service provider.
                        The Sender shall label the Shipment correctly and provide all necessary details to enable eCommerce to perform the services including transport and delivery, settling of damages claims and/or return of the Shipment, as the case may be.
                        eCommerce will accept special instructions from the Sender for Shipments only if these instructions are notified in the agreed form or in a separate agreement between the Parties. eCommerce is not obliged to comply with any special instructions if these are issued only after the Shipment has been handed over for transport and delivery.
                        The Sender agrees to all routing and diversion, including the possibility that the Shipment will be transported via intermediate stops, at the sole and absolute discretion of eCommerce.
                    </p>
                    <hr>
                    <div class="w100 clearfix">
                        <h3> Customs Clearance and Customs Regulations </h3>

                        <p>

                            <br /> (1) The Sender is obliged to comply with the applicable import and export regulations and the customs regulations of the country of origin, destination and transit. The Sender shall complete the necessary accompanying documents (customs declaration, export licenses etc.) truthfully and completely, and shall hand these over with the Shipment.
                            <br />(2) eCommerce does not assume any liability for the content of the Shipment and the accompanying documents, even if these are prepared by or on behalf of eCommerce upon the Sender’s request. The Sender remains solely responsible for all risks and consequences of importing and exporting goods. This shall apply independently of the grounds on which the dispatch is restricted or prohibited, either by applicable statutory provisions or is restricted or excluded under these GTC or other contractual provisions. Sections 2(3) and 4(4) remain unaffected.
                            <br />(3) The Sender shall indemnify eCommerce from third-party claims arising from or in connection with violations against the provisions specified in this Section 5.
                        </p>
                        <hr>
                        <h3> Limitation of Liability regarding Delay of Delivery </h3>

                        <p>
                            eCommerce will make every reasonable effort to deliver the Shipment according to eCommerce’s regular delivery schedules, but these schedules are not binding and do not form part of the contract. eCommerce is not liable for any damages or loss caused by delay.
                        </p>
                        <hr>
                        <h3> Data Protection </h3>

                        <p>
                            In the event any information submitted by Sender to eCommerce contains personal data that is subject to the protection of applicable privacy and data protection laws and regulations, eCommerce shall limit the disclosure and processing of the personal data (to other members of the Deutsche Post DHL group of companies worldwide and relevant third parties) to such extent as is reasonably required to effect performance of the services, to manage and administer the Sender’s account(s) with eCommerce, to advertise products and services provided by eCommerce (subject at all times to the Sender’s right to decline and eCommerce’s compliance with applicable privacy and data protection laws and regulations) and for such other purposes as may be required by law, including, communicating the same to customs authorities. The Sender warrants that all personal data provided to eCommerce has been fairly and lawfully obtained and the Sender has authority to disclose such personal data to eCommerce for the purposes mentioned above. The Sender shall fully indemnify and keep eCommerce fully indemnified against any and all liability incurred by eCommerce as a result of such breach howsoever arising.
                        </p>
                        <hr>
                        <h3> Warranties of Sender and Indemnification </h3>

                        <p>
                            The Sender shall indemnify eCommerce from liability for loss or damage resulting from Sender’s failure to comply with the following warranties and representations:
                           <br /> 1. all documents and information provided by the Sender or its representatives are complete and accurate;
                           <br /> 2. the Shipment is acceptable for transport under Section 4 above;
                           <br />3. the Shipment was prepared in secure premises by reliable persons and was protected against unauthorized interference during preparation, storage and any transportation to eCommerce;
                           <br />4. the Shipment is correctly labeled, addressed and packaged so as to ensure safe transportation with ordinary care in handling;
                           <br /> 5. the Sender has complied with all applicable customs, import, export, data protection laws and regulations, sanctions, embargoes and other laws and regulations; and
                           <br /> 6. the Sender has obtained all necessary consents to provide eCommerce with personal data including Recipient’s data as may be required for transport, customs clearance and delivery.

                        </p>

                        
                        <hr>
                        <h3> Charges </h3>

                        <p>
                          <br />  (1) The Sender shall pay to eCommerce the agreed charges for the agreed services.
                          <br /> (2) All prices indicated are net prices and are exclusive of any taxes, customs duties and fees. Such taxes, customs duties and fees shall be invoiced to and payable or reimbursable by Sender.
                          <br /> (3) All invoices shall be due and payable by the Sender, without deduction or set-off, within the credit period granted by eCommerce.
                          <br />  (4) In case of non-payment by the Sender of any outstanding amount, eCommerce shall be entitled to suspend any or all of the services, charge interest on all overdue amounts from the due date until payment and/or exercise such other right or remedy in respect of such outstanding amount.
                          <br />  (5) In the event that the Sender’s original choice of service and/or product is no longer applicable or available for any reason, eCommerce reserves the right to select the next best available or appropriate service and/or product in respect of the Sender’s Shipment and the charges for the service and/or product actually performed shall constitute the charges for the said Shipment.
                          <br /> (6) eCommerce reserves the right to charge based on the higher of actual or volumetric weight per piece and any Shipment may be re-weighed and re-measured by eCommerce to confirm this calculation. This is referred to as “chargeable weight” and may be billed on a separate invoice.
                        </p>
                        <hr>
                        <h3>
                            Delivery and Non-Deliverable Shipments
                        </h3>

                        <p>
                           <br /> (1) The Shipments shall be delivered to the Recipient's address specified by the Sender, though not necessarily personally to a Recipient named in person. Shipments to addresses with central mail departments shall be delivered to these departments.
                            <br />(2) If necessary for the return of undeliverable Shipments, the Sender agrees that a corresponding return label as per eCommerce’s requirements shall be attached to such Shipment. The Sender shall use best efforts to assist eCommerce in returning such Shipment and particularly to furnish all necessary customs documents and all other documents and information which may be required for the return.
                           <br /> (3) If the Recipient refuses to accept a Shipment or refuses to make payment, eCommerce shall be entitled to release, sell, destroy or otherwise dispose of such Shipment without incurring any liability to the Sender, Recipient or any other thirdparty, provided that eCommerce has made reasonable efforts to return such Shipment at the expense of the Sender or if applicable law prohibits or prevents the return of such Shipment to the Sender.
                            <br />(4) Unless special instructions are issued in accordance with Section 3(4), if an undeliverable Shipment is returned in accordance with Sections 6(2) and 6(3), eCommerce reserves the right to determine the timeframe for, the manner (i.e. whether individually or on a consolidated basis) and the mode of transport for such returned Shipment.
                        </p>
                        <hr>
                       
                        <hr>
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>

